@import 'nib'

*, *:after, *:before
  box-sizing border-box

html
  overflow-y scroll

a
  cursor pointer
  color #08c

::-webkit-input-placeholder
  color rgba(0, 0, 0, .5)

:-moz-placeholder
  color rgba(0, 0, 0, .5)

::-moz-placeholder
  color rgba(0, 0, 0, .5)

:-ms-input-placeholder
  color rgba(0, 0, 0, .5)

input[type="search"][required]
  border-radius 0
  position relative
  padding .1rem 1.1rem .1rem .25rem

  &::-ms-clear
    display none

  &::-webkit-search-cancel-button
    -webkit-appearance none

  &::-webkit-search-cancel-button:after
    font-family Arial, sans-serif
    content "\00D7"
    display block
    position absolute
    right 0
    top 0
    bottom 0
    width .85rem
    font-size .8rem
    text-align left
    cursor pointer

  &:valid::-webkit-search-cancel-button:after
    opacity 1

  &:invalid::-webkit-search-cancel-button:after
    opacity 0

body
  font-family "proxima-nova", "Helvetica Neue", Helvetica, arial, sans-serif
  color #444
  margin 0
  -webkit-font-smoothing antialiased

.page
  background #fff

header.page-header
  width 44em
  max-width 100%
  padding 9em 0 2em
  margin 0 auto
  text-align center

  @media (max-width: 840px)
    font-size 12px

  @media (max-width: 540px)
    font-size 8px
    padding-top 0
    width 100%

  .inner
    padding 3em 2em 2.4em
    background #414141

    max-height 178px // Prevent font FOUC

    h1
      font-size 2.5em
      font-weight 200
      margin 0
      color #fff
      text-transform uppercase
      letter-spacing .01em
      line-height 1

.explanation
  width 40em
  max-width 100%
  padding 0 1em
  margin auto
  text-align justify

  .inner
    font-size 1.1em

.share-buttons
  clearfix()
  width 54em
  max-width 100%
  margin 3em auto
  padding 0 1em

  .twitter-share-button
    float left

  .github-stars-button
    float right

  .share-button
    width 48%

    @media (max-width: 840px)
      width auto

      &.twitter-share-button
        margin-bottom 1em

      &.twitter-share-button, &.github-stars-button
        float none

    iframe
      width 100%
      height 2.45em

@media (min-width: 768px)
  .browser
    float right
    clear right
    width 49%

  .browser.jquery
    float left
    clear left
    margin-right 2%

.old-ie-message
  display none

  html.old-ie &
    display block

    background-color #ffaeae
    padding 10px
    color white

.empty-message
  display none

  .comparisons.empty &
    display block

    padding 1em 0
    font-size 1.5em
    text-align center

.comparison
  clearfix()

  h3
    text-align center
    font-size 2em
    font-weight normal

    a
      position relative
      color inherit
      text-decoration none

      &:hover:before
        content '§'
        position absolute
        right 100%
        padding-right .3em

  h4
    font-weight 200
    color #666
    letter-spacing 0.07em
    font-size 1.4em
    text-transform uppercase
    margin-bottom 0
    line-height 1
    display inline-block

header.search
  clearfix()
  max-width 40em
  margin 2em auto 0
  padding 0 1em

  input[type="search"]
    height 3em
    border 0
    font-family inherit
    font-size 1.5em
    font-weight 300
    letter-spacing .08em
    padding-left .52em
    margin 0
    color inherit
    width 50%
    background rgba(0, 0, 0, .1)
    margin-bottom 4px
    width 100%
    padding 1em
    margin-bottom 1em

    &::-webkit-search-cancel-button:after
      position absolute
      top 0
      bottom 0
      margin auto
      height 1em
      font-size 1em
      line-height 1
      font-weight normal
      padding-right 1em
      cursor pointer

    &:focus
      background rgba(0, 0, 0, .05)
      opacity 1
      outline none

  .field
    position relative

    label
      padding-right 10em
      font-size 1.1em
      line-height 1.2em
      padding-top 0em
      padding-bottom 3em
      display block

    .slider
      position absolute
      top 0
      right 0
      width 10em
      height 2em

.hidden
  display none

.alternatives-block
  text-align: center

  h4
    font-size: 1.1em
    display: inline-block
    font-weight: 200
    color: hsl(0, 0%, 40%)
    letter-spacing: 0.07em
    font-size: 1.4em
    text-transform: uppercase
    margin-bottom: 0
    line-height: 1

  ul
    display: inline-block
    list-style: none
    padding: 0

    li
      display: inline-block
      padding-left: 10px

section
  /* Hide section titles when they're empty */
  position relative
  overflow hidden
  background #fff
  padding 5.5em 0

  &.odd
    background #eee

    :not(pre) > code[class*="language-"], pre[class*="language-"]
      background #fff

  .inner
    width 1200px
    max-width 100%
    margin 0 auto
    padding 0 1em

  .comparison
    padding-top 40px
    padding-bottom -40px

  h2
    font-size 3em
    font-weight 100
    letter-spacing .3em
    text-transform uppercase
    color #888
    text-align center
    margin 0

input[type='range']
  -webkit-appearance none !important

  margin 0
  background-color #F0F0F0
  height 30px
  width 100%
  padding 4px

input[type='range']::-webkit-slider-thumb
  -webkit-appearance none !important

  height 20px
  width 20px
  border 2px solid #ccc
  border-radius 5px
  background-color #fcfcfc

.range-label
  float left
  width 33%
  text-align center
  padding 0 4px

.range-label:first-of-type
  text-align left

.range-label:last-of-type
  text-align right

footer
  margin 3em auto
  font-size 1.4em
  text-align center

  a
    color inherit
